html, body{
    height: 100%;
    margin: 0;
}

.container{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.mainGame{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.options{
    margin: 20px;
    border-radius: 10px;
}

.results{
    width: 350px;
    height: 70vh;
    border: 5px solid black;
    border-radius: 20px;
    text-align: center;
}